    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Message</h1>
    <form action="/message/new" method="post">
       <label for="user"> NAME:</label> <input name="messageUser" id="user" type="text"><br>
        <label for="text">TEXT:</label><input name="messageText" id="text" type="text"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>